[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodules/JSON"]
	path = submodules/JSON
	url = https://github.com/vim-scripts/JSON.vim
